<h4>New Territory</h4>
<form #new = "ngForm" (ngSubmit)="save()">
    <label for="cityInput">City:
        <input name="cityInput" type="text" placeholder="Enter the city name" [(ngModel)]="cityInput">
    </label>
    <br/>
     <label for="postalInput">Postal Code:
        <input name="postalInput" type="text" placeholder="Enter the postal code" [(ngModel)]="postalInput"> 
    </label>
    <br/>
    <label for="countryInput">Country:
        <input name="countryInput" type="text" placeholder="Enter the country name" [(ngModel)]="countryInput">
    </label>
    <br/>
    <button type="submit">Save</button>
    <button type="button" (click)="cancel()">Cancel</button>
</form>

<div class="form-container">
  <mat-form-field>
      <label for="cityInput">
        <input matInput name="cityInput" type="text" placeholder="Enter the city name" [(ngModel)]="cityInput">
    </label>
  </mat-form-field>
<!-- 
  <mat-form-field>
    <textarea matInput placeholder="Textarea"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field> -->
</div>