<div class="main-content-container">
    <h4>Edit Employee</h4>

    <div class="form-container">
        <mat-form-field>
                <input matInput required name="employeeFirstName" type="text" placeholder="First Name" [(ngModel)]="firstName">
        </mat-form-field>
        <mat-form-field>
               <input matInput required name="employeeLastName" type="text" placeholder="Last Name" [(ngModel)]="lastName"> 
        </mat-form-field>
        <mat-form-field>
                <input matInput required name="employeeEmail" type="email" placeholder="Email" [(ngModel)]="email">
        </mat-form-field>
        <mat-form-field>
                <input matInput name="employeePosition" type="text" placeholder="Position" [(ngModel)]="position">
        </mat-form-field>
        <mat-form-field>
            <mat-select [(ngModel)]="selectedShop">
            <mat-option *ngFor="let s of shops" [value]="s.id">{{s.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="button-container">
        <button [disabled]="!(firstName.trim() && lastName.trim() && email.trim())" mat-flat-button color="primary" (click)="save()">Save</button>
        <button mat-stroked-button type="button" (click)="cancel()">Cancel</button>
        <button mat-flat-button color="warn" type="button" (click)="delete()">Delete</button>
    </div>
</div>

