<h4>Edit Employee</h4>
<form #edit = "ngForm" (ngSubmit)="save()">
    <label for="employeeFirstName">First Name:
        <input name="employeeFirstNameInput" type="text" placeholder="Enter the first name" [(ngModel)]="firstName">
    </label>
    <br/>
     <label for="employeeLastName">Last Name:
        <input name="employeeLastName" type="text" placeholder="Enter the last name" [(ngModel)]="lastName"> 
    </label>
    <br/>
    <label for="employeeAge">Age:
        <input name="employeeAge" type="text" placeholder="Enter the age" [(ngModel)]="age">
    </label>
    <br/>
    <label for="employeePosition">Phone:
        <input name="employeePosition" type="text" placeholder="Enter the phone number" [(ngModel)]="position">
    </label>
    <br/>
    <select [(ngModel)]="selectedShop" name="shopSelect">
      <option *ngFor="let s of shops" [ngValue]="s.id">{{s.name}}</option>
   </select>
   <br/>
    <button type="submit">Save</button>
    <button type="button" (click)="cancel()">Cancel</button>
    <button type="button" (click)="delete()">Delete</button>
</form>
