<div class="main-content-container">
    <h4>New Employee</h4>

    <form #newEmployeeForm="ngForm" class="form-container">
        <mat-form-field class="empFirstName">
                <input matInput required alphabetValidator name="employeeFirstNameInput" type="text" placeholder="First Name" 
                [(ngModel)]="firstName" #empFirstName="ngModel">
        </mat-form-field>
        <mat-form-field class="empLastName">
               <input matInput required alphabetValidator name="employeeLastName" type="text" placeholder="Last Name" 
               [(ngModel)]="lastName" #empLastName="ngModel"> 
        </mat-form-field>
        <mat-form-field class="empEmail">
                <input matInput required emailValidator name="employeeEmail" type="email" placeholder="Email" 
                [(ngModel)]="email" #empEmail="ngModel">
        </mat-form-field>
        <mat-form-field>
                <input matInput name="employeePosition" type="text" placeholder="Position" [(ngModel)]="position">
        </mat-form-field>
        <mat-form-field>
            <mat-select required name="selectedShop" [(ngModel)]="selectedShop" placeholder="Shop">
            <mat-option *ngFor="let s of shops" [value]="s.id">{{s.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <div class="button-container">
        <button [disabled]="empFirstName.errors?.invalid || empEmail.errors?.invalid || empLastName.errors?.invalid || !selectedShop" mat-flat-button color="primary" (click)="save()">Save</button>
        <button mat-stroked-button type="button" (click)="cancel()">Cancel</button>
    </div>
</div>