<div class="main-content-container">
    <h4>New Shop</h4>

    <form #newShopForm="ngForm" class="form-container">
        <mat-form-field class="shopName">
                <input matInput required emptyValidator name="shopNameInput" type="text" placeholder="Name" 
                [(ngModel)]="shopName" #shopNameVal="ngModel">
        </mat-form-field>
        <mat-form-field>
               <input matInput name="addressInput" type="text" placeholder="Address" [(ngModel)]="shopAddress">  
        </mat-form-field>
        <mat-form-field class="shopPhone">
                <input matInput phoneValidator name="phoneInput" type="text" placeholder="Phone" 
                [(ngModel)]="shopPhone" #shopPhoneNo="ngModel">
        </mat-form-field>
        <mat-form-field>
            <mat-select required name="selectedTerritory" [(ngModel)]="selectedTerritory" placeholder="Territory">
                <mat-option *ngFor="let t of territories | async " [value]="t.id">{{t.city}}, {{t.country}}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <div class="button-container">
        <button [disabled]="shopNameVal.errors?.invalid || shopPhoneNo.errors?.invalid || !selectedTerritory" mat-flat-button color="primary" (click)="save()">Save</button>
        <button mat-stroked-button type="button" (click)="cancel()">Cancel</button>
    </div>
</div>
