<div class="main-content-container">
    <h4>Edit Shop</h4>

    <div class="form-container">
        <mat-form-field>
                <input matInput name="shopNameInput" type="text" placeholder="Name" [(ngModel)]="shopName">
        </mat-form-field>
        <mat-form-field>
               <input matInput name="addressInput" type="text" placeholder="Address" [(ngModel)]="shopAddress">  
        </mat-form-field>
        <mat-form-field>
                <input matInput name="phoneInput" type="text" placeholder="Phone" [(ngModel)]="shopPhone">
        </mat-form-field>
        <mat-form-field>
            <mat-select [(ngModel)]="selectedTerritory">
            <mat-option *ngFor="let t of territories" [value]="t.id">{{t.city}}, {{t.country}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="button-container">
        <button mat-flat-button color="primary" (click)="save()">Save</button>
        <button mat-stroked-button type="button" (click)="cancel()">Cancel</button>
        <button mat-flat-button color="warn" type="button" (click)="delete()">Delete</button>
    </div>
</div>
