.container {
    height: 100%;
    font-size: 1.2rem;
}

.navbar {
    background-color: rgb(40, 55, 139);
}
.sidebar {
    width: 20%;
    background-color: rgb(225, 225, 228);
}
.main-content {
    
    display: flex;  
    padding-left: 30px; 
}