<div>
    <div>
        <label for="cityInput">City:
            <input id="cityInput" [(ngModel)]="newCity" type="text" placeholder="Enter the city name">
        </label>
    </div>
    <div>
        <label for="postalInput">Postal Code:
            <input id="postalInput" [(ngModel)]="newPostal" type="text" placeholder="Enter the postal code">
        </label>
    </div>
    <div>
        <label for="countryInput">Country:
            <input id="countryInput" [(ngModel)]="newCountry" type="text" placeholder="Enter the country name">
        </label>
    </div>
    <button (click)="save()">Save</button>
    <button (click)="cancel()">Cancel</button>
    <button (click)="delete()">Delete</button>
   
</div>
<!-- <form #edit = "ngForm" (ngSubmit) = "onClickSubmit(edit.value)" >
    <label for="cityInput">City:
        <input id="cityInput" type="text" placeholder="Enter the city name" value={{selectedTerritory.city}} #city>
    </label>
    <br/>
     <label for="postalInput">Postal Code:
        <input id="postalInput" type="text" placeholder="Enter the postal code" value={{selectedTerritory.postal}} #postal> 
    </label>
    <br/>
    <label for="countryInput">Country:
        <input id="countryInput" type="text" placeholder="Enter the country name" value={{selectedTerritory.country}} #country>
    </label>
    <br/>
    <button (click)="onClickSubmit(city.value, postal.value, country.value)">Save</button>
    <button (click)="cancel()">Cancel</button>
</form> -->
