.sidebar-button-container {
    
}
.sidebar-button {
    background-color: #3F51B5; 
    padding: 15px 0 15px 20px;

}

.sidebar-button:hover, 
.sidebar-button:focus {
    background-color:rgb(78, 97, 206);
    cursor: pointer;
}

.sidebar-button a {
    text-decoration: none;
    text-transform: uppercase;
    color:  rgb(225, 225, 225);
}