.sidebar-button-container {
    
}
.sidebar-button {
    color: white;
    background-color: #3F51B5; 
    padding: 15px 0 15px 10px;
    border: 1px solid rgb(40, 55, 139);
}

.sidebar-button:hover, 
.sidebar-button:focus {
    background-color: rgb(87, 104, 201); 
    cursor: pointer;
}

.sidebar-button a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}