.main-content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: rgb(215, 217, 231);

}
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.form-container > * {
    width: 40%
}

.button-container {
    display: inline-block;
}

button {
    margin: 10px 10px 0 0;
}