.main-content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: rgb(215, 217, 231);

}
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.form-container > * {
    width: 40%
}

.button-container {
    display: inline-block;
}

button {
    margin: 10px 10px 0 0;
}

.territoryCity.ng-dirty.ng-invalid::after,
.territoryCountry.ng-dirty.ng-invalid::after,
.shopName.ng-dirty.ng-invalid::after,
.shopPhone.ng-dirty.ng-invalid::after,
.empFirstName.ng-dirty.ng-invalid::after,
.empEmail.ng-dirty.ng-invalid::after,
.empLastName.ng-dirty.ng-invalid::after
 {
    font-size: 0.8rem;
    position: relative;
    top: -20px;
    color: rgb(189, 53, 53);
}

.territoryCity.ng-dirty.ng-invalid::after {
    content: "Enter a valid city name."
}

.territoryCountry.ng-dirty.ng-invalid::after {
    content: "Enter a valid country name."
}

.shopName.ng-dirty.ng-invalid::after{
    content: "Enter a valid name."
}

.shopPhone.ng-dirty.ng-invalid::after {
    content: "Enter a valid phone number."
}

.empFirstName.ng-dirty.ng-invalid::after { 
    content: "Enter a valid name.";
}

.empLastName.ng-dirty.ng-invalid::after {
    content: "Enter a valid last name.";
}

.empEmail.ng-dirty.ng-invalid::after{
    content: "Enter a valid email address."
}
